[submodule "apps/qtcloud-write"]
	path = apps/qtcloud-write
	url = https://github.com/quanttide/qtcloud-write.git
[submodule "examples/default"]
	path = examples/default
	url = https://github.com/quanttide/quanttide-laboratory-of-narrative-engineering.git
[submodule "docs/profile"]
	path = docs/profile
	url = https://github.com/quanttide/quanttide-profile-of-narrative-engineering.git
[submodule "assets/fiction"]
	path = assets/fiction
	url = https://github.com/quanttide/quanttide-fiction-of-founder.git
[submodule "docs/journal"]
	path = docs/journal
	url = https://github.com/quanttide/quanttide-journal-of-narrative-engineering.git
[submodule "docs/vision"]
	path = docs/vision
	url = https://github.com/quanttide/quanttide-vision-of-narrative-engineering.git
[submodule "docs/gallery"]
	path = docs/gallery
	url = https://github.com/quanttide/quanttide-gallery-of-narrative-engineering.git
[submodule "docs/roadmap"]
	path = docs/roadmap
	url = https://github.com/quanttide/quanttide-roadmap-of-narrative-engineering.git
